.App {
  text-align: center;
}

.To-do-list {
  margin: auto;
  padding-top: 3%;
  width:50%;
}

.To-do-item {
	background-color: #FFFFFF;
}

.Mainform {
  padding: 3%;
}

.full-width-textfield {
  width:80%;
}

.submit-button {
  width:80%;
}